<!--
    Author: Kenton Parton
    Project: Portfolio
    Function: Base HTML page for the structure
-->
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}Kenton Parton{% endblock title %}</title>

	<link href="{% static 'css/general.css' %}" rel="stylesheet" type="text/css" media="all" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="{% static 'javascript/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'javascript/jquery/jquery-ui-1.10.0.custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'javascript/general.js' %}" type="text/javascript"></script>
	
</head>

<body>

	<!--The autoescape converts the HTML so that the browser can read it, otherwise it will just look like code on the screen-->
	{% autoescape off %}

	{{ mainSect }} {% endautoescape %}

	<div class="overlay">
		<div class="description importers">
			<div id="go-to-1" class="go-to">
				<img src="../static/images/goTo.svg">
			</div>
			<p>Created a web-application for a company named Importers Coffee Specialists who distribute coffee and coffee related products to retailers throughout South Africa. This web-application bridges the communication gap between employees, who pack the contents of each order, and upper-level employees who enter the orders into the system. The secondary purpose of this web-application is to track and display customer orders to employees who will pack the necessary items. Each order details the contents and the time remaining for the order to be packed and loaded. An app is currently in progress which displays packed orders to the companies delivery drivers. This will allow Importers Coffee Specialists to oversee a larger portion of their processes. Django is the primary framework used in this project. Please feel free to interact with the web-app by adding new products, clients or orders.</p>
		</div>
		<div class="description mrbm">
			<div id="go-to-2" class="go-to">
				<img src="../static/images/goTo.svg">
			</div>
			<p>I built a modular building system for a company named Mobile Rapid Building Methods (MRBM), who utilize a building system which reduces the time and labor to build a structure. The building system uses different sized shutters to build the structure. My web-app calculates the most efficient combinations of each shutter to build the various portions of the structure. This process was previously done by hand through trial an error.</p>
		</div>
		<div class="description gaming">
			<div id="go-to-3" class="go-to">
				<img src="../static/images/goTo.svg">
			</div>
			<p>I love to play first-person shooters when the time permits it. My enjoyment for playing well-built games lead me to create a fun website which displays some of the tools and tweaks I have used and learnt while playing. This is also the first website I built, which I have not changed, as a reminder of where I started.</p>
		</div>
	</div>

</body>

</html>